github "ReactiveX/RxSwift" == 6.5.0
github "apollographql/apollo-ios" == 0.48.0
github "SnapKit/SnapKit" == 5.0.1
github "Swinject/Swinject" == 2.7.1
github "segmentio/analytics-ios" == 4.1.5
binary "https://customers.pspdfkit.com/pspdfkit-ios.json" == 10.5.1
github "onevcat/Kingfisher" == 5.15.8
github "daltoniam/Starscream" == 3.1.0
github "getsentry/sentry-cocoa" "7.4.4"
github "auth0/JWTDecode.swift" == 2.6.3
github "dennisweissmann/DeviceKit" == 4.5.0
github "twilio/twilio-video-ios" == 4.6.0
github "ashleymills/Reachability.swift" == 4.3.1
